body {
  background: url("../img/main/main_background.jpg");
}

header {
  min-height: 136px;
}

header .container {
  padding: 22px 0px;
  display: flex;
}

header .container .header_burger-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: aqua;
}

header .container .header_burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  left: 5px;
}

header .container .header_burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

header .container .header_burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

header .container nav ul {
  display: flex;
  list-style: none;
}

header .container nav ul li {
  margin-top: 15px;
  margin-left: 160px;
}

header .container nav ul li::after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  transition: 0.5s all;
  background-color: white;
}

header .container nav ul li:hover::after {
  width: 100%;
}

header .container nav ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Gilroy-Bold';
}

@media (max-width: 1050px) {
  .header_burger-btn {
    background-color: white;
  }
}
